[user]
    name = swebra
    email = eric@swebra.com
[core]
    excludesfile = ~/.gitignore_global

[alias]
    st = status
    l = log --oneline --decorate --date=short --graph
    d = diff
    ds = diff --staged
    cm = commit
    co = checkout

[diff]
    colorMoved = default
[merge]
    conflictstyle = diff3

# Delta for regular diff
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true # less-style (n, N/p) navigation between diff sections
    map-styles = bold purple => syntax purple, bold cyan => syntax cyan

# VSCode for diff/merge tool
[diff]
    tool = vscode
[difftool]
    prompt = false
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

# Additional
[include]
    path = ~/.gitconfig_extra
