[user]
    name = swebra
    email = eric@swebra.com
[core]
    excludesFile = ~/.config/git/gitignore_global
    hooksPath = ~/.config/git/hooks

[alias]
    st = status
    l = log --oneline --decorate --date=short --graph
    d = diff
    ds = diff --staged
    a = add
    cm = commit
    cmm = commit -m
    co = checkout
    cob = checkout -b
    p = push
    pu = push -u origin HEAD
    pf = push --force-with-lease

[diff]
    colorMoved = default
[merge]
    conflictStyle = diff3

# Delta for regular diff
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true # less-style (n, N/p) navigation between diff sections
    map-styles = bold purple => syntax purple, bold cyan => syntax cyan

# VSCode for diff/merge tool
[diff]
    tool = vscode
[difftool]
    prompt = false
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
    keepBackup = false
[mergetool]
	keepBackup = false
[mergetool "vscode"]
    cmd = code --wait $MERGED

# Additional
[include]
    path = ~/.config/git/gitconfig_extra
