/* =============
  Basic Layout
============= */
* {
  color: #282C34;
  font-family: 'MesloLGS Nerd Font';
  font-size: 14px;
  font-weight: bold;
}

.bar {
  padding: 0 5px;
  background: rgba(40, 44, 52, 0.3); /* Black but with opacity */
  border-bottom: 1px solid #282C34;
}

.widget {
  margin: 2px;
}
/* Background colors applied to label, so must padding and border radius */
.widget .label {
  padding: 2px 5px;
  border-radius: 5px;
}

/* ==================
  Workspaces Layout
================== */
.komorebi-workspaces {
  /* Override margin to leave it to the workspace buttons */
  margin: 0px;
}

.ws-btn { /* Workspace button */
  margin: 2px;
  padding: 6px; /* 6 to give it a little more width */
  border-radius: 5px;
}


/* =============
  Basic Colors
============= */
/* CSS variables unsupported */
.active-window-widget .label {
  background: #61AFEF;
}

.clock-widget .label {
  background: #61AFEF;
}

.cpu-widget .label {
  background: #E06C75;
}

.komorebi-active-layout .label {
  background: #98C379;
}

.traffic-widget .label {
  background: #B3D3D9;
}

.wifi-widget .label {
  background: #E5C07B;
}

/* ====================
  Status-Aware Colors
==================== */
.battery-widget .label.status-critical {
  background: #ABB2BF;
}
.battery-widget .label.status-low {
  background: #E06C75;
}
.battery-widget .label.status-medium {
  background: #E5C07B;
}
.battery-widget .label.status-high,
.battery-widget .label.status-full,
.battery-widget .label.status-charging {
  background: #98C379;
}

/* .memory-widget .label.status-low {
  background: #98C379;
}
.memory-widget .label.status-medium {
  background: #E5C07B;
}
.memory-widget .label.status-high {
  background: #E06C75;
}
.memory-widget .label.status-critical {
  background: #ABB2BF;
} */

.memory-widget .label {
  background: #C678DD;
}
.memory-widget .label.status-critical {
  background: #ABB2BF;
}

/* ==================
  Workspaces Colors
================== */
.ws-btn { /* Workspace button */
  background: #E5C07B;
  text-decoration: line-through;
}
/* .ws-btn:hover {
  background: #69BBFF;
} */

.ws-btn.populated,
.ws-btn.active {
  text-decoration: none;
}

.ws-btn.active {
  background: #282C34;
  color: #E5C07B;
}

/* =====================
  Custom Widget Colors
===================== */
.custom-widget .label {
  background: #61AFEF;
}

.custom-widget.weather-widget .label {
  background: #98C379;
}
